<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (contacts.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach((contact, index) => { %>
                        <tr>
                            <th scope="row"><%= contact.id %></th>
                            <td><img src="/assets/img/<%= contact.image %>" class="rounded-circle contact-img" alt=""></td>
                            <td><%= contact.name %></td>
                            <td><%= contact.email %></td>
                            <td><%= contact.phone %></td>
                            <td>
                                <a href="/edit/<%= contact.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= contact.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No contacts found. Go <a href="/add" >here</a> to add contacts.</p>
        <% } %>
    </div>
</div>
</body>
</html>